<%- include('partials/header'); -%>

<header>
  <div class="meme">
    <img src="/Peepo-MaLady.gif" alt="">
  </div>
  <div class="headings">
    <h2>Random Memes</h2>
    <h3>By myself for myself</h3>
    <a href="/memes" class="btn">View Memes</a>
  </div>
</header>


<%- include('partials/footer'); -%>