<%- include('partials/header'); -%>

<ul class="memes">
  <li class="meme">
    <img src="/almost.gif" alt="chonker">
    <h4>Chonker Cat</h4>
    <p>Chonker cat fighting gravity</p>
  </li>
  <li class="meme">
    <img src="/amuricathumbup.gif" alt="trump">
    <h4>Trump</h4>
    <p>Random american president</p>
  </li>
  <li class="meme">
    <img src="/asianshot.gif" alt="asian archer">
    <h4>Archer</h4>
    <p>Marksman lvl 9000</p>
  </li>
  <li class="meme">
    <img src="/bathtime.gif" alt="just chill bro">
    <h4>Just chill bro</h4>
    <p>Just vibing man...</p>
  </li>
  <li class="meme">
    <img src="/chalanges.gif" alt="hero">
    <h4>Facing challenges</h4>
    <p>Hero we do not deserve</p>
  </li>
  <li class="meme">
    <img src="/dog_falling_into_hole.gif" alt="cute but stupid">
    <h4>Cute but stupid...</h4>
    <p>No commentary is needed...</p>
  </li>
</ul>

<%- include('partials/footer'); -%>